<! DOCTYPE html>
<html>
  <head>
           <title> helpcamp</title>
           <link rel ="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" href="/"> helpcamp </a>
         </div>
         <div class="collapse  navbar-collapse">
         <ul class ="nav navbar-nav navbar-right">
             <li><a href="/"> login </a></li>
             <li><a href="/"> sign up </a></li>
             <li><a href="/"> log out </a></li>
         </ul>
         </div>
    </div>
</nav>

 