<% include partials/header %>

<div class ="container">
<header class="jumbotron">
<div class="container">
<h1> welcome to helpcamp </h1>
<p>view our choosen camping sites</p>
<p>
    
<a class="btn btn-primary btn-lg" href="/campgrounds/new"> add new camp site </a>
</p>
</div>
</header>

<div class ="row" style="display:flex; flex-wrap:wrap;">
   <% campgrounds.forEach(function(campground){%>
	    <div class="col-md-3  col-sm-6">
	         <div class="thumbnail">
	         <img src="<%=campground.image %>"
	              <div class="caption">
	              <h4> <%= campground.name %> </h4>
	              </div>
	         </div>
	           
        </div>
<% }); %>
</div>
</div>
<% include partials/footer %>
